.item {
    margin-bottom: 20px;
}

.item:last-child {
    margin-bottom: 0;
}

.img {
    width: 70px;
    height: 70px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.title {
    margin-bottom: 5px;
    font-size: 15px;
    color: #000;
}

.desc {
    margin-bottom: 15px;
    font-size: 14px;
    color: #b0b0b0;
}

.price {
    font-size: 14px;
    font-weight: 700;
}