.popup {
    display: flex;
    align-items: center;
    max-width: 450px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    overflow: auto;
    outline: none;
}

.popupWrap {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
}

.input {
    width: 100%;
    margin-bottom: 5px !important;
}

.btnsContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.btn{
    color: #075ee2 !important;
}

