body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.container {
    max-width: 1200px;
    width: 98% !important;
    margin: auto;
}

@media screen and (max-width: 1055px) {
    .container {
        flex-direction: column !important;
    }
}
